<% if (pagination == 2){ %>
  <div class="site-main">
    <section class="site-home-introduction" >
      <div class="site-home-introduction__text-wrapper site-max-width">
        <h1 id="logo-wrap">Welcome to the <img id="logo" src="<%- url_for("/img/logo.png") %>"> Guide. <br/>How can we help you today?</h1>
        <% if (theme.subtitle){ %>
          <h2 id="subtitle-wrap">
            <a href="<%- url_for() %>" id="subtitle"><%= theme.subtitle %></a>
          </h2>
        <% } %>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable" method="post" action="">
          <form autocomplete="off" id="search-form" class="mdl-textfield__expandable-holder">
            <input type="text" id="search" class="form-control mdl-textfield__input search-input" placeholder="Enter a question, keyword or topic..."/>
            <label id="search-form-label" class="mdl-textfield__label" for="search"></label>
          </form>
        </div>
        <div id="local-search-result"></div>
      </div>
    </section>
  </div>
  <% var posts = home(page); %>
  <% var sort = ['Getting Started', 'User Settings', 'Workspace', 'Locations and Stations', 'Hardware', 'Data Access and FAQ', 'Compatible Monitors', 'FAQ'];%>
  <% var keys = Object.keys(posts).sort(function(a, b) { return sort.indexOf(a) - sort.indexOf(b)}); %>
  <div id="home">
    <% keys.forEach(function(key) { %>
      <% var content = posts[key]; %>
      <% content =  content.sort(function(a, b) { return a.sortIndex - b.sortIndex});%>
      <%- partial('home', {category: key, posts: content}) %>
    <% }) %>
  </div>
<% } else { %>
  <% var last; %>
  <% page.posts.each(function(post, i){ %>
    <% var year = post.date.year(); %>
    <% if (last != year){ %>
      <% if (last != null){ %>
        </div></section>
      <% } %>
      <% last = year; %>
      <section class="archives-wrap">
        <div class="archive-year-wrap">
          <a href="<%- url_for(config.archive_dir + '/' + year) %>" class="archive-year"><%= year %></a>
        </div>
        <div class="archives">
    <% } %>
    <%- partial('archive-post', {post: post, even: i % 2 == 0}) %>
  <% }) %>
  <% if (page.posts.length){ %>
    </div></section>
  <% } %>
<% } %>
<% if (page.total > 1){ %>
  <nav id="page-nav">
    <%- paginator({
      prev_text: "&laquo; " + __('prev'),
      next_text: __('next') + " &raquo;"
    }) %>
  </nav>
<% } %>